<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{selectedItem.text | slice:0:20}} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="selectedItem">
  <h3 text-center>

    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <!-- <h4 text-center *ngIf="selectedItem">
    <b></b>
  </h4> -->
  <ion-card>
    <p>
      {{selectedItem.text}}
    </p>
    <p>
      {{selectedItem.explanation}}
    </p>
    <hr />
    <span> {{selectedItem.tags}}</span>
  </ion-card>
</ion-content>
